@charset "UTF-8";

body {
    background-color: skyblue;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: white;
}

h2 {
    font-size: 28px;
    /*background-color: chocolate;*/
    color: white;
}
.first {
    background-color: green;
}

.std {
    background-color: olive;
}

table{
    border: 1px solid green;
    border-collapse: separate;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid green;
    height: 32px;
    text-align: center;
    background-color: navajowhite;
}

td {
    border: 1px solid green;
    height: 24px;
    text-align: center;
    background-color: aquamarine;
}

hr {
    border: 1px solid green;
}

p {
    /*border: 2px solid green;
    padding-top: 20px;
    padding-bottom: 20px;*/
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sanko1 {
    border: 2px solid green;
    margin-bottom: 16px;
}

.sanko2 {
    border: 2px solid green;
}
